@import '~antd/dist/antd.css';
@import './homeStyle.scss';
@import './donationStyle.scss';

* {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  min-height: 100vh;
}
